<html>
    <head>
        <title>关于我</title>
        <link rel="stylesheet" href="../layui/css/layui.css">
        <script src="../layui/layui.js"></script>
        <style>
            html body{
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <div class="layui-container" style="background-color: aliceblue;">
            <p>前言：我的梦想是。。。</p>
        </div>
    </body>
</html>