<html>
    <head>
        <title>文章</title>
        <link rel="stylesheet" href="../layui/css/layui.css">
    </head>
    <body>
        <script src="../layui/layui.js"></script>

        <blockquote class="layui-elem-quote">
            引用内容，默认风格
        </blockquote>


        <blockquote class="layui-elem-quote layui-quote-nm">
            引用内容，边框风格
        </blockquote>

        <div id="div_news">
            <div style="height: 50px;width: 100%;background-color:RGB(250,250,250) ;line-height: 50px;color: #16baaa;margin-bottom: 5px;">
                <h3 style="margin-left: 10px;">推荐阅读</h3>
            </div>
            <div style="height: 30px;line-height: 30px;">
                <a href=""> <span class="layui-badge">&nbsp1&nbsp</span> 关于金牌员工的十二条标准</a>
            </div>
            <div style="height: 30px;line-height: 30px;">
                <a href=""> <span class="layui-badge">&nbsp2&nbsp</span> 关于金牌员工的十二条标准</a>
            </div>
            <div style="height: 30px;line-height: 30px;">
                <a href=""> <span class="layui-badge">&nbsp3&nbsp</span> 关于金牌员工的十二条标准</a>
            </div>
            <div style="height: 30px;line-height: 30px;">
                <a href=""> <span class="layui-badge layui-bg-black">&nbsp4&nbsp</span> 关于金牌员工的十二条标准</a>
            </div>
            <div style="height: 30px;line-height: 30px;">
                <a href=""> <span class="layui-badge layui-bg-black">&nbsp5&nbsp</span> 关于金牌员工的十二条标准</a>
            </div>
            <div style="height: 30px;line-height: 30px;">
                <a href=""> <span class="layui-badge layui-bg-black">&nbsp6&nbsp</span> 关于金牌员工的十二条标准</a>
            </div>
            <div style="height: 30px;line-height: 30px;">
                <a href=""> <span class="layui-badge layui-bg-black">&nbsp7&nbsp</span> 关于金牌员工的十二条标准</a>
            </div>
            <div style="height: 30px;line-height: 30px;">
                <a href=""> <span class="layui-badge layui-bg-black">&nbsp8&nbsp</span> 关于金牌员工的十二条标准</a>
            </div>
            <div style="height: 30px;line-height: 30px;">
                <a href=""> <span class="layui-badge layui-bg-black">&nbsp9&nbsp</span> 关于金牌员工的十二条标准</a>
            </div>
            <div style="height: 30px;line-height: 30px;">
                <a href=""> <span class="layui-badge layui-bg-black">10</span> 关于金牌员工的十二条标准</a>
            </div>
        </div>
    </body>
</html>