<html>
    <head>
        <title>FeedBack</title>
        <link rel="stylesheet" href="../layui/css/layui.css">
        <script src="../layui/layui.js"></script>
    </head>
    <body>
        <div class="layui-row" style="">
            <div class="layui-col-md6">
                <div class="layui-bg-gray">
                    1
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-bg-gray">
                    1    
          
                </div>
            </div>
        </div>

    </body>
</html>