<html>
    <head>
        <title>about-2</title>
        <link rel="stylesheet" href="../../layui/css/layui.css">
        <script src="../../layui/layui.js"></script>
        <script src="../../js/test.js"></script>
    </head>
    <body>
      <div style="padding: 20px;">
        <blockquote class="layui-elem-quote">
            罗永浩语录
        </blockquote>
        <p id="demo2"></p>
        <img src="https://pcsdata.baidu.com/thumbnail/b9c7d58d2rb6ed46a9f84a36718392bb?fid=1102100132940-16051585-647134255808302&rt=pr&sign=FDTAER-yUdy3dSFZ0SVxtzShv1zcMqd-Onw6GWforKO3GuVbm%2FNNetUAjRE%3D&expires=2h&chkv=0&chkbd=0&chkpc=&dp-logid=8705011719636148549&dp-callid=0&time=1687748400&bus_no=26&size=c1600_u1600&quality=100&vuk=-&ft=video" alt="" srcset="" height="100%" width="100%">
       

    </div>
    </body>
</html>