<html>
    <head>
        <title>about-1</title>
        <link rel="stylesheet" href="../../layui/css/layui.css">
        <script src="../../layui/layui.js"></script>
        <script src="../../js/test.js"></script>

    </head>
    <body>
        <div style="margin: auto;height: 40px;background-color:#cccccc;color: white;line-height: 40px;">
            <h3>基本信息</h3>
        </div>
        
        about-1
        <br>

        <button type="button" class="layui-btn layui-btn-normal" onclick="run_1()" >确定</button>

    </body>
</html>